{% extends "emails/_base.html" %}
{% block body %}
  <p style="margin:0 0 16px;">Hello {{ person.get_short_name }},</p>
  <p style="margin:0 0 16px;">Good news! The volunteer team said yes, and you're now signed up for:</p>
  <p style="margin:0 0 16px; font-size:21px;"><strong>{{ shift }}</strong></p>
  <p style="margin:0 0 16px;">If you can't make it after all, please cancel in the app so someone else can come.</p>
  {% with shifts_url=site_url|add:"/my-shifts/" %}{% include "emails/_button.html" with href=shifts_url label="Open my shifts" %}{% endwith %}
{% endblock %}
